.matrix__row {
    cursor: pointer;
    width: 510px;
    height: 170px;
    /*margin-bottom: 10px;*/
}

.row__win{
    display: none;
}

@media only screen and (max-width: 900px) {
    .matrix__row {
        cursor: pointer;
        width: 380px;
        height: 110px;
        margin-bottom: 10px;
    }
}