.userInput, .passwordInput {
    margin-top:8px;
    margin-bottom:20px;
    width:400px!important;
    height:35px!important;
    text-align:center;
}

.registerForm {
    margin-top:60px;
}

.logo {
    color:green;
    text-align:center;
}

.backgrounds {
    height: 800px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJaEaP951be3aa37GGvSmBwp5ZfNUobIqoaxuGzaqJIYPAPzbp&usqp=CAU");
    background-position-y: -300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    height:80px;
    width:100%;
}

.firstFooterLink {
    text-align:center;
}

.spacer {
    height: 300px;
}

.buttons {
    height:50px;
    width:398px;
}

.error {
    height:50px;
}






/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
